@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist


<h1>Add a stylist</h1>

@using (Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.Name)</p>
  <p>@Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder="Stylist name", required="required", style="width: 300px;"})</p>

  <input type="submit" value="Save stylist" class="btn btn-primary" />
}
<br>
<p>@Html.ActionLink("🤍 Back to stylists", "Index")</p>
<p>@Html.ActionLink("🤍 Back to home", "Index", "Home")</p>



